<h2>Data Mining Project: Relevance Feedback</h2>
<h3>Blake Bordovsky</h3>
<hr class="col-sm-12" />
<div class="row text-center">
    <div class="col-sm-12">
        <form ng-submit="solr()">
            <div class="form-group">
                <div class="col-sm-10 col-xs-12">
                    <input class="form-control" ng-model="q" type="text" placeholder="Solr Search" />
                </div>
                <div class="col-xs-12 hidden-md hidden-lg">
                    <button class="btn btn-primary col-xs-12" type="submit">Search</button>
                </div>
                <button class="btn btn-primary hidden-xs hidden-sm col-sm-2" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>