<h2>Data Mining Assignment 3</h2>
<h3>Blake Bordovsky</h3>
<hr class="col-sm-12" />
<div class="row text-center">
    <div class="col-sm-12">
        <p>Solr Local Search</p>
        <form ng-submit="solr()">
            <input id="solr-search" ng-model="q" type="text" placeholder="Solr Search" style="text-align: left;" />
            <button type="submit" data-target="#solr-modal">Search</button>
        </form>
    </div>
</div>

<div id="solr-modal" class="modal fade" role="dialog">
    <form ng-submit="rerank()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Re-Rank</button>            
                </div>
            </div>
        </div>
    </form>
</div>